.App {
    background-color: white;
    padding: 0;
    margin: 0;
}

.header__logo {
    height: 300px;
}

.header {
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 40px;
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-around;
}

.description,
.app {
    display: inline-block;
    width: 45%;
}

.app__title {
    margin-bottom: 10px;
}

.app__result {
    margin-top: 20px;
    width: 100%;
}

p {
    font-family: "Corbel Light, sans-serif";
    font-size: 24px;
}

.app__title {
    font-family: "Corbel, sans-serif";
    font-size: 32px;
    font-weight: normal;
}
